In [1]:
range(5)

range(0, 5)

In [2]:
list(range(5))

[0, 1, 2, 3, 4]

In [3]:
range(0,10,2)

range(0, 10, 2)

In [6]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [ ]:
#for condition {
#    statement1
#    statement2
#}
#statement3

#for condition:
#    statement1
#    statement2
#statement3

In [8]:
for i in range(0,5):
    print("Hello Cognitiors",i)
print("Hope you will have nice learning experience")

Hello Cognitiors 0
Hello Cognitiors 1
Hello Cognitiors 2
Hello Cognitiors 3
Hello Cognitiors 4
Hope you will have nice learning experience

In [9]:
list1 = [1,2,3,4,5,6,7]

In [10]:
for i in list1:
    print("Hi, how are you?")
print("Hope you will have nice time")

Hi, how are you?
Hi, how are you?
Hi, how are you?
Hi, how are you?
Hi, how are you?
Hi, how are you?
Hi, how are you?
Hope you will have nice time

In [11]:
student_name = ['Jack','James','Kate','Ben','Hugo']
student_id = ['Mc-2543','MS-1234','BM-2234','AB-3345','LM-3445']

In [12]:
import itertools
for(s1,s2) in zip(student_name, student_id):
    print("Hello", s1, ",", 'your student id is:',s2)

Hello Jack , your student id is: Mc-2543
Hello James , your student id is: MS-1234
Hello Kate , your student id is: BM-2234
Hello Ben , your student id is: AB-3345
Hello Hugo , your student id is: LM-3445